<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Configuração</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
    <link rel="stylesheet" type="text/css" href="css/configuracao.css">
</head>
<body>
        <div class="header">
            

            {{!-- <a href="./profile" class="perfil novo">Perfil</a> --}}
            <a href="./filme" class="perfil">Adicionar Novo Filme</a>
            <a href="./" class="perfil">Voltar para a página inicial</a>
        </div>
        
        <div class="concord">
            <h1>Filmes</h1>

            <form class="pesquisa" id="form-pesquisa" action="/busca" method="GET">
                <label for="busca">Pesquisar: </label>
                <input id="busca" type="text" name="busca" value="" list="lista_pesquisa"/>

                <label for="filtro">Filtro: </label>
                <select id="selector" name="filtro">
                    <option value="nome" selected>Nome</option> 
                    <option value="ano">Ano</option>
                    <option value="sinopse">Sinopse</option>
                </select>

                <input id="btnBuscar" type="submit" name="envia" value="Buscar">
                <datalist id="lista_pesquisa"></datalist>
                
            </form>

            
            <div id="cards" class="all-card">
                {{#each filmes}}
                <div id="card-{{_id}}" class="card">
                    <form class="form-update" action="/filme/update" method="POST">
                        <input type="hidden" name="_id" value="{{_id}}">
                        <input id="link-{{_id}}-up" type="hidden" name="img" value="{{img}}">
                        <img id="poster-{{_id}}-up" src="{{img}}" class="img-card">

                        <input id="{{_id}}" type="file" name="img-nome"  oninput="readImage(event)">
                        <div class="conteudo-card">
                            <label class="campo-card" for="nome">Nome</label>
                            <input id="nome-{{_id}}-up" type="text" name="nome" value="{{nome}}">
                        </div>
                        <div class="conteudo-card">
                            <label class="campo-card" for="ano">Ano</label>
                            <input id="ano-{{_id}}-up" type="number" name="ano" value="{{ano}}">
                        </div>
                        <div class="conteudo-card">
                            <label class="campo-card" for="sinopse">Sinopse</label>
                            <input id="sinopse-{{_id}}-up" type="text" name="sinopse" value="{{sinopse}}">
                        </div>
                        <input id="{{_id}}" type="submit" value="Atualizar">
                    </form>

                    <form class="form-delete" action="/filme/delete" method="POST">
                        <input type="hidden" name="_id" value="{{_id}}">
                        <input id="nome-{{_id}}-del" type="hidden" name="nome" value="{{nome}}">
                        <input id="ano-{{_id}}-del" type="hidden" name="ano" value="{{ano}}">
                        <input id="sinopse-{{_id}}-del" type="hidden" name="sinopse" value="{{sinopse}}">
                        <input id="link-{{_id}}-del" type="hidden" name="img" value="{{img}}">
                        <input id="{{_id}}" type="submit" value="Excluir">
                    </form>
                </div>
                {{/each}}
            </div>
            

        </div>

        <script type="text/javascript" src="js/configuracao.js"></script>
</body>
</html>