<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Novo Filme</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
    <link rel="stylesheet" type="text/css" href="addFilme.css">
</head>
<body>
    
    <div class="concord">
        <div class="card-form">    
            <h1>Novo Filme</h1>
    
            <form action="/filme/cadastro" method="POST">
                <div class="content-form">
                    <label for="nome">Nome: </label>
                    <input type="text" name="nome" value="{{nome}}" required/>
                </div>

                <div class="content-form">
                    <label for="ano">Ano: </label>
                    <input type="number" name="ano" value="{{ano}}" required/>
                </div>

                <div class="content-form">
                    <label for="img">Imagem URL: </label>
                    <input type="text" name="img" value="{{img}}" oninput="viewPhoto()" required/>
                    
                </div>

                <div class="content-form">
                    <img id="poster" src="{{img}}">
                </div>

                <div class="content-form">
                    <label for="sinopse">Sinopse: </label>
                    <input type="text" name="sinopse" value="{{sinopse}}" required/>
                </div>

                <div class="content-form">
                    <input type="submit" name="enviar" value="Cadastrar">
                </div>
            </form>
        </div>    
    </div>

    <script>
        function viewPhoto() {
            var img = document.getElementById("poster");
            var url = document.querySelector("input[name=img]").value;

            img.src = url;
        }
    </script>
</body>
</html>